<% if (typeof showBackButton === "undefined") { showBackButton = false; } %>
<header class="bar-title">
  <% if (showBackButton) { %>
  <a class="button" id="back-button">
    <span class="icon-arrow-left"></span>
  </a>
  <% } %>
  <h1 class="title">
    <span class="icon icon-checkmark-circle"></span>
    <span class="name">triage</span>
  </h1>
  <a id="settings-button" class="button">
    <span class="icon-cog"></span>
  </a>
</header>
