<header class="bar-title">
  <a class="button" id="settings-close-button">Close</a>
  <h1 class="title">Settings</h1>
</header>

<div class="content content-padded">
  <a id="sign-out-button" class="button button-block">Sign Out</a>
  <a id="refresh-button" class="button-positive button-block">Refresh Tasks</a>
</div>
