<%= Templates._header({ showBackButton: state == "archived" }) %>

<% if (showTabs) { %>
  <%= Templates._tabs({ selected: state }) %>
<% } %>

<div class="content">
  <ul class="list"></ul>
</div>

<% if (showNewTask) { %>
  <%= Templates._new_task() %>
<% } %>
