@import "lib/ratchet";
@import "icon_font";

$list-icon-color: #bfbfbf;

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  font-family: "Helvetica";
  font-weight: 300;
  height: 100%;
  width: 100%;
}

a.button, #back-button {

  span[class*="icon-"] {
    display: block;
    font-size: 1.7em;
    line-height: 0.7em;
    margin: 0.2em 0;
    color: #fff;
  }
}

header.bar-title {

  h1 {

    span {

      &.icon {
        position: relative;
        top: 2px;
      }
    }
  }
}

.bar-standard {

  h3 {
    color: #555;
    margin: 0.4em 0.7em
  }
}

ul.segmented-controller {

  li {

    a {
      padding: 8px 16px 6px 16px;
    }

    a span[class*="icon-"] {
      display: inline-block;
      font-size: 1.3em;
    }

    a span.label {
      display: inline-block;
      position: relative;
      top: -2px;
    }
  }
}

.content-inner {
  margin: 1em;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  &.left {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  &.center {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  &.right {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  $transitionDuration: 0.3s;

  &.transition {
    -webkit-transition-duration: $transitionDuration;
    transition-duration: $transitionDuration;
  }
}

#logo {
  height: 7em;
  width: 7em;
  margin: 4em auto 2em auto;
  background-color: #1ba7e5;
  color: #fff;
  border-radius: 0.75em;
  position: relative;
  padding: 0.5em;

  span {
    display: block;
    font-size: 2em;

    &.icon {
      float: right;
    }

    &.name {
      position: absolute;
      bottom: 0.2em;
    }
  }
}

#sign-in, #sign-up {

  h3 {
    margin-bottom: 0.5em;
    padding-left: 0.5em;
    color: #888;
  }

  #sign-in-error-message, #sign-up-error-message {
    display: none;
    color: red;
    font-style: italic;
    margin: 0.25em 0.25em 0.75em 0.25em;
  }
}

#tabs {
  top: 44px;
}

#task-list {

  .content {
    top: 88px;
    padding-bottom: 40px;
  }

  ul.list {

    li {
      overflow: hidden;
      position: relative;
      background-color: #fff;

      &.ui-sortable-helper {
        box-shadow: 0 0 6px #d9d9d9;
        background-color: #fafafa;
      }

      span.order {
        float: left;
        font-size: 1.5em;
        color: $list-icon-color;
        margin-right: 0.25em;
        position: absolute;
        top: 50%;
        margin-top: -9px;
      }

      span.name {
        float: left;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 85%;
        padding-left: 2.25em;
      }

      span.due_at {
        display: block;
        color: #bbb;
        margin-top: 0.4em;
        font-size: 0.9em;

        &.past {
          color: red;
        }
      }

      span.arrow {
        position: absolute;
        top: 50%;
        margin-top: -0.5em;
        right: 0.25em;
        font-size: 1.5em;
        color: $list-icon-color;
      }
    }
  }
}

#task-detail {

  .bar-standard {
    top: 44px;
  }

  .content {
    top: 88px;
  }

  textarea {
    height: 14em;
  }

  input[type="radio"] {
    display: none;
  }

  .action-group {
    overflow: hidden;

    a.button {
      float: left;
      width: 40%;

      &:last-child {
        float: right;
      }
    }
  }
}

#new-task {
  bottom: -1px;

  form {
    padding: 0.5em;

    input {
      height: 2.45em;
      padding: 0.2em 0.6em;
      margin: 0 !important;
    }
  }
}
